{%  extends "base.html" %}

{% load static %} 
{% block title %}
شاشة الاصناف
{% endblock title %}


{% block content %}



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg">
    جديد
  </button>


<table id="example" class="display datatable" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>الوحدة</th>
          <th>القسم</th>
          <th>نوع الصنف</th>
          <th>الباركود</th>
          <th>الاسم المحلي</th>
          <th>الاسم الاجنبي</th>
          <th>الاحداث</th>

        </tr>
      </thead>
 
</table>

<div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          
        <div class="card card-warning">
          <div class="modal-header">

       
             
                  <div class="card-header">
                    <h3 class="card-title">إضافة الاصناف</h3>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form action="{%url 'Items'%}"   id="id_form" method="post" class="needs-validation" accept-charset="utf-8" >
                <input type="text" name="id" class="hidden" style="display: contents;">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}


                        <div class="row">
                          <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                              <label>الاسم المحلي </label>
                                  
                                  
                                  
                              {{ filed.name_lo }}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>الاسم الاجنبي</label>
                              {{ filed.name_fk }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <!-- textarea -->
                            <div class="form-group">
                              <label>القسم</label>
                              {{ filed.category}}
                            </div>
                          </div>
                          
                          <div class="col-sm-6">
                            <!-- textarea -->
                            <div class="form-group">
                              <label>الوحدة الرئيسية</label>
                              {{ filed.unit}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>نوع الصنف</label>
                              {{ filed.items_type}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>الباركود</label>
                              {{ filed.barcode}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>سعر الشراء</label>
                              {{ filed.purch_price}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>سعر البيع</label>
                              {{ filed.salse_price}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>صورة المنتج</label>
                              {{ filed.image}}
                            </div>
                          </div>
                        </div>
                        <!-- input states -->
                        <div class="form-group ">
                            <button type="submit" id="btnsubmit" class="col-md-12 btn btn-primary">حفظ</button><br><br>
                        </div>
                      </form>
                        </div>
                        </div>
                        </div>
                
                <!-- /.modal-content -->
            </div>
          </div>
{% endblock content %}

{% block scripts %}
<script>
let csrf = '{{ csrf_token }}';
 $("#id_form").on("submit",function(e){
  e.preventDefault();
    var form_upload = $("#id_form")[0];
    var form_data = new FormData(form_upload);
      $.ajax({
        method: "post",
        data: form_data ,
        url:$(this).attr('action'),
        type: 'post',
        dataType: 'json',
        cache: false,
        processData: false,
        contentType: false,
        
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrf);
          },
        success: function(data) {
          
          if(data.status=="1")
          {
            alert(data.message);
            $('.datatable').DataTable().ajax.reload();
            $('#modal-lg').modal('hide');
            $('#id_form').trigger("reset");
              

          }
            else{
            alert(data.error);
            }
        }
      })
 
    }) 
    
$(document).on('click','.edit_row',function(){
 
    $.ajax({
          url: $(this).data('url'),
          data: {'id':$(this).data('id')},
          type: 'GET',
          success: function (data) {
              let resp=JSON.parse(data.data);
              if(data.status==1){
                  console.log(resp[0].fields)
                  $(`input[name="id"]`).val(resp[0].pk);
                  $('#modal-lg').modal('show');
                  $.each(resp[0].fields,function(i,value_){
                  if(i!="image")
                  {
                    $(`input[name="${i}"]`).val(value_);
                    $(`select[name="${i}"] option[value="${value_}"]`).attr('selected','selected');
                  }
            });

          }
         else{
          console.log(data.error);
         }
     },
     error:function(data){
     }
 });
});

$(document).on('click','.delete_row',function(){

 if(confirm('هل حقا تريد الحذف؟')){
    let id_row=$(this).data('id');
    $.ajax({
        url: $(this).data('url'),
        data: {
         'id':id_row,
     },
     method: 'DELETE',
     beforeSend: function (xhr) {
             xhr.setRequestHeader("X-CSRFToken",csrf);
         },
     success: function (data) {
        
         if(data.status==1){
          alert(data.message)   
       
          $('.datatable').DataTable().ajax.reload();
          
        }
        if(data.status==0)
          alert(data.message)   

      
     },
     error:function(data){
     }
 });
}
});

$(document).ready(function () {
    var oTable = $('.datatable').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'ItemsJson' %}"
    });
    // ...
});

</script>

{% endblock scripts %}